.background {
    height: 800px;
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    place-items: center;
    grid-template-rows: 20fr 60fr 20fr;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    width: 1300px;
    
    
    
}

.title {
    width: 570px;
    height: 60px;
    margin: 0 auto;
    font-size: 48px;
    text-align: center;
    margin-left: 350px;
    
}

.carouselContainer {
    width: 1170px;
    height: 300px;
    overflow: hidden;
    grid-row: 2;
    grid-column: span 2;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(12, 371px);
    grid-gap: 20px;
}

.rightBtn, .leftBtn {
    height: 15px;
    width: 30px;
}

.rightBtn {
    transform: rotate(90deg);
    user-select: none;
}

.leftBtn {
    transform: rotate(90deg);
    user-select: none;
}

.buttonContainer {
    width: 170px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 2;
}

.btnBorder {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0 10px 20px #0000001A;
    cursor: pointer;
}

.slickDotsContainer {
    width: 100px;
    height: 10px;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
}

.dot {
    width: 10px;
    height: 10px;
    background: #d3fbd7;
    border-radius: 50%;
}

.link {
    background: #F2F2F2;
    width: 370px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    cursor: pointer;
    grid-column: 1;
    grid-row: 3;
    margin-left: 360px;
    transition: ease all 0.6s;
}

.link:hover {
    background: #d1d1d1;
}