.background {
    background: #2E2236;
    color: white;
    height: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.h1 {
    margin-right: 20px;
    width: 370px;
    height: 118px;
    font-size: 48px;
    align-self: flex-start;
    letter-spacing: -0.48px;
}

.accordionContainer {
    width: 770px;
    max-height: 650px;
    overflow: auto;
    border-radius: 6px;
}